* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Header */

.page-header {
  background: rgb(189, 152, 169);
  background: linear-gradient(
    90deg,
    rgba(189, 152, 169, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 2rem;
}

.navigation {
  list-style: none;
  padding-left: 0;
  gap: 1rem;
}

.pagelinks {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-align {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space-bet {
  justify-content: space-between;
}

.gap-m {
  gap: 2rem;
}

.gap-s {
  gap: 1rem;
}

/* Sec 1 */

.sec-1 {
  width: calc(100% - 10rem);
  margin: 0 auto;
}

.sec-1-col-1 {
  flex-grow: 1;
  flex-basis: 50%;
}

.sec-1-col-2 {
  /* flex-grow: 1;
  flex-shrink: 3;*/
  flex: 6;
}

/* Seection 2 */

.img-1 {
  background-image: url(/images/image-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  height: 100vh;
}

.sec-2-flex {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.sec-2-text {
  flex: 1;
}
